# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.pyd

# Virtual environment
venv/
.env/

# Configuration files
config.py
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific files
.DS_Store
Thumbs.db

# Python package files
*.egg-info/
dist/
build/
